@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Diseño para mostrar y ocultar las vistas */
.seccion{
    opacity: 0;
    transition: opacity 0.4s ease;
    display: none;
}

.activa{
    display: block;
    opacity: 1;
}

/* Diseños y estilos para los cards del Menu*/
.groupCards{
    width: 98%;
    margin: 30px auto;
    display: block;
    /* padding: 15px; */
}

.menuOptions{
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 13px 35px;
    margin: 0;
    position: fixed;
    z-index: 1000;
}

.menuOptions a{
    margin: 10px 30px 10px 0px;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 100%;
    border: 1px solid;
    border-radius: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.enfocar{
    background-color: #000000;
}

.groupCard1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.groupCard2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.groupCard3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.groupCard4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.groupCard5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.card img{
    width: 100%;
}

.card{
    display: block;
    width: 30%;
    margin: 15px;
    overflow: hidden;
    border-radius: 3%;
    transform: translateY(8px);
    transition: .5s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    transition: .5s ease-in-out;
    box-shadow: -0.5px -0.5px 10px;
}

.card div{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: -7px;
    background-color: #D3D3D3;
    padding: 10px;
}

.card div p{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.transformacion_card{
    background-color: #fff;
}

.transformacion_card img{
    display: none;
}

/* Estilos para el loader (spinner) */
.loader{
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    margin: 35px auto;
    animation: rotate 1s linear infinite
}

.loader::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #cf2e2e;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate{
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix{
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}
